.container {
    background-color: gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("../../images/mobile/abt-me-bg.jpg");
    background-size: cover;
    background-position: center;
}
@media (min-width: 780px) {
    .container {
        background-image: url("../../images/Desktop/Lake.jpg");
    }
}
