.Certifications {
    background-color: gray;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/mobile/sunset-mobile-hd.jpg");
    background-size: cover;
}
.Certifications-card {
    width: 70vw;
    height: 20vh;
    position: relative;
}

.card-item {
    list-style: none;
    position: absolute;
    inset: 0;
    opacity: 0;
}

.card-item img {
    border-radius: 8px;
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;

    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.card-item[data-active] {
    opacity: 1;
    z-index: 1;

    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.carousel-buttons {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    cursor: pointer;
    transform: translateY(200%);
}
.card-item a {
    object-position: center;
}
#Left-button-carousel {
    left: 5rem;
    background-color: rgba(179, 178, 178, 0.286);

    border-radius: 12px;
    scale: 1.2;
}
#Left-button-carousel:hover {
    opacity: 50%;
}
#Right-button-carousel:hover {
    opacity: 50%;
}
#Right-button-carousel {
    right: 5rem;
    background-color: rgba(179, 178, 178, 0.286);
    border-radius: 12px;
    scale: 1.2;
}
#Right-button-carousel svg {
    border-radius: 12px;
}
@media (min-width: 550px) {
    .Certifications {
        background-image: url("../../images/Desktop/Forest-night.jpg");
    }

    .Certifications-card {
        width: 60vw;
        height: 20vh;
        position: relative;
        padding: 1rem;
    }
    #Left-button-carousel {
        left: 3.5rem;
        background-color: rgba(240, 248, 255, 0.471);
    }

    #Right-button-carousel {
        right: 3.5rem;

        background-color: rgba(240, 248, 255, 0.471);
    }
    .carousel-buttons {
        transform: translateY(500%);
    }
}
@media (min-width: 1080px) {
    .Certifications-card {
        width: 600px;
        height: 400px;
        position: relative;
    }
}
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
