.Projects {
    background-color: gray;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../../images/mobile/Sunset-mountain-mobile.jpg");
    background-size: cover;
}
.Projects-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.013);
    width: 100%;
    height: 12rem;
    margin: 0 auto;
}
.Projects-card img {
    width: 70%;
}
