* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.Links-container {
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 3rem;
    background-color: rgba(31, 31, 31, 0.278);
}
.Links-container ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.navlink {
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    text-decoration: none;
    color: inherit;
    border: none;
}
.navlink:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
img {
    opacity: 0;
}
