.Contact {
    background-color: gray;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/mobile/moon-night.png");
    background-size: cover;
}
